/*Footer*/
.footer-bg{
  background-color: #FAFBFC;
}

.copyright{
  color: #000;
  text-decoration: none;
}

.copyright:hover{
  color: #000;
  text-decoration: underline;
}

#br-github{
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 2rem!important;
}

#pt-linkedin{
  padding-top: 2rem!important;
}

.icon-license{
  text-decoration: none;
  color: #000;
}

.icon-license:hover{
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

@media (max-width: 768px) {
  .icon-hand {
    display: none;
  }
}

@media (min-width: 768px) {
.icon-hand-sm{
  display: none;
}
}