/*HERO*/
/*About me*/

.justify-txt{
  text-align: justify;
}

.jg93-img{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/*lower devices*/
@media (max-width: 1199px) {
  .jg93-img{
    width: 200px;
  }

  #lower-devices{
      margin-top: 1rem!important;
  }
}