/*HERO*/
/*About me*/

.justify-txt{
  text-align: justify;
}

.jg93-img{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/*lower devices*/
@media (max-width: 767px)
{
  .justify-txt{
    text-align: left;
  }
}

@media (max-width: 1199px) {
  .jg93-img{
    width: 200px;
  }

  #lower-devices{
      margin-top: 1rem!important;
  }
}

/*Work*/
.work-img{
  width: 100%;
  height: 87%;
  border:1px solid #000;
  border-radius: 10px;
}

.work-hover:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  opacity: 0.5;
  
}

.work-underline:hover{
  text-decoration: underline;
}

/*lower devices*/
@media (max-width:991px)
{
  .work-low-devices{
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
  }
  
  .work-bt-line{
    border-top: 1px solid #D0D0D0;
    padding-top: 2rem;
  }
}