/*Main Content*/
#main-img{
  background-image: url(../images/ocean-mountains.jpg);
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
}

.main-title-col{
  max-width: 1000px;
  border-radius: 20px;
}

.main-title-col:hover{
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: translateY(10px);
  transition: 1s linear;
}


.txtd-none{
  text-decoration: none;
}

.main-title{
  color:#FAFBFC;
  font-size: 60px;
}

.main-line{
  border-top: 1px solid #FAFBFC;
  max-width: 400px;
  margin: 0 auto;
}

.title-text{
  color:#FAFBFC;
}

.title-size{
  font-size: 25px;
}

/*small screens*/
@media (max-width:767px) {
.md-no{
  display: none;
}
  .main-title-col{
    border-radius: 20px;
    max-width: 1980px;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateY(10px);
    transition: 1s linear;
  }
}



