/*Sub-hero*/
/*Skills*/
.skills-img{
  max-width: 30%;
  max-height: 80%;
}

.skills-img:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  opacity: 0.5; 
}

.skills-underline:hover{
  text-decoration: underline;
}

/*low devices*/
@media (max-width:575px)
{
  .skills-sm{
    margin-left: 0.8rem !important;
    margin-top: 3rem !important;
  }

  .skills-sm-line{
    border-top: 1px solid #D0D0D0;
    padding-top: 2rem!important;
  }
}

@media (min-width:576px) and (max-width:767px)
{
  .skills-sm{
    margin-top: 3rem !important;
  }
}

/*Contact me*/
.btn-primary{
  background-color: rgba(149, 147, 147, 0.219);
  border-color: rgba(149, 147, 147, 0.219);
  color:#000;
  margin-left: 20px!important;
}

.btn-primary:hover{
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.letter-space{
  letter-spacing: 5px;
}

.icon-img{
  width: 30px;
  margin-left: -10px!important;
  margin-right: 10px!important;
  margin-top: -5px!important;
}

.only-sm{
  display: none;
}

@media (max-width:577px) 
{
  .only-sm{
    display: block;
  }

  .only-sm:hover{
    opacity: 0.5;
  }

  .btn-primary{
    display: none;
  }
  
}